<div class="container">
    <h2>
        QUIZZES
    </h2>

    <mat-card *ngFor="let quiz of quizzes">
        <mat-card-header>
            <mat-card-title>
                {{quiz.title}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
               Number of questions: {{quiz.questions.length}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="editQuiz(quiz.id)" mat-button>EDIT</button>
            <button (click)="deleteQuiz(quiz.id)" mat-button>DELETE</button>
        </mat-card-actions>
    </mat-card>

</div>