<h2>You are currently joined on server: {{currentServer}}</h2>

<h3 *ngIf="isHost">you are the host</h3>

<div *ngIf="isHost">
    <label for="quizSelect">select quiz</label>
    <select id="quizSelect" [(ngModel)]="selectedQuizId">
        <option *ngFor="let quiz of quizzes"
                [value]="quiz.id">
            {{quiz.title}}
        </option>
    </select>
    <button (click)="startGame()">START GAME</button>
</div>

<ul>
    <ng-container *ngFor="let user of users">
        <li *ngIf="!user.isHost">
            <p>{{user.name}}</p>
        </li>
    </ng-container>
</ul>

