<mat-card>
    <mat-card-header>
        <mat-card-title>
            You are currently joined on server: {{currentServer}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div *ngIf="isHost" class="flex">
            <mat-form-field class="flex-item">
                <mat-label for="quizSelect">
                    Select Quiz
                </mat-label>
                <mat-select id="quizSelect" [(ngModel)]="selectedQuizId">
                    <mat-option *ngFor="let quiz of quizzes" [value]="quiz.id">
                        {{quiz.title}}
                    </mat-option>
                </mat-select>
                
            </mat-form-field>

            <button class="flex-item" mat-button (click)="startGame()">START GAME</button>
        </div>
        <div>
            <label>Users joined: </label>
            <mat-list role="list">
                <ng-container *ngFor="let user of users">
                   <mat-list-item *ngIf="!user.isHost">
                        <p>{{user.name}}</p>
                   </mat-list-item>
                </ng-container>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>

<!-- <h3 *ngIf="isHost">you are the host</h3> -->



