/* You can add global styles to this file, and also import other style files */

/* CSS FROM https://codepen.io/P1N2O/pen/pyBNzX */

body {
    background: linear-gradient(270deg, #ff74ea, #03c4d4, #6d5ae1, #b584c9);
    background-size: 800% 800%;
    
    animation: AnimationName 30s ease infinite;
}


@keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}